.header-font {
  font-family: 'Abril Fatface', cursive;
}

.secondary-font {
  font-family: 'Open Sans', sans-serif;
}

.accent-orange {
  color: #de7347;
}

.accent-grey {
  color: #9d9d9d;
}

.accent-cream {
  color: #eff1e6;
}

.accent-black {
  color: #383838;
}
